#chromedriver_skip_download=true  
chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver
proxy=http://opo-buildagent1:8080/
http-proxy=http://opo-buildagent1:8080/
https-proxy=http://opo-buildagent1:8080/